#subtitles-mask{
    position: fixed;
    display:none;
    background: #000;
    bottom:100px;
    left:0px;
    opacity: 0.8;
    z-index: 99999;
}
#subtitles-mask .borders{
    position: relative;
    height:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#subtitles-mask .cube{
    position: absolute;
    width:4px;
    height:4px;
    background:#fff;
    z-index: 100;
    opacity: 0.8;
    display:none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
#subtitles-mask:hover .cube,#subtitles-mask:hover .line{
    display:block;
}
#subtitles-mask .line{
    display: none;
    position: absolute;
}
#subtitles-mask .top{
    height:4px;
    width:100%;
    top:-2px;
    cursor: n-resize;
}
#subtitles-mask .right{
    width:4px;
    height:100%;
    right:-2px;
    cursor: w-resize;
}
#subtitles-mask .bottom{
    height:4px;
    width:100%;
    bottom:-2px;
    cursor: n-resize;
}
#subtitles-mask .left{
    width:4px;
    height:100%;
    left:-2px;
    cursor: w-resize;
}
#subtitles-mask .topleft{
    left:-2px;
    top:-2px;
    cursor: nw-resize;
}
#subtitles-mask .topcenter{
    left:50%;
    margin-left:-2px;
    top:-2px;
    cursor: n-resize;
}
#subtitles-mask .topright{
    top:-2px;
    right: -2px;
    cursor: sw-resize;
}
#subtitles-mask .centerleft{
    left:-2px;
    top:50%;
    margin-top: -2px;
    cursor: w-resize;
}
#subtitles-mask .centerright{
    right:-2px;
    top:50%;
    margin-top: -2px;
    cursor: w-resize;
}
#subtitles-mask .bottomleft{
    left:-2px;
    bottom:-2px;
    cursor: sw-resize;
}
#subtitles-mask .bottomcenter{
    left:50%;
    margin-left:-2px;
    bottom:-2px;
    cursor: n-resize;
}
#subtitles-mask .bottomright{
    right: -2px;
    bottom: -2px;
    cursor: nw-resize;
}
#subtitles-mask .center{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left: 0px;
    background:#fff;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: move;
    z-index:0;
}